body  			{font: normal 12px Helvetica, Arial, sans-serif; margin: 0px auto; padding: 0px; text-align: center; color: #333; background: white url(/images/bg_top.png) repeat-x; line-height: 160%;}	
div, img, form, ul {margin: 0px; padding: 0px; border: 0px; }
div, span, td	{text-align: left;}	
.clear 			{clear: both;}	
a 				{text-decoration: none; color: #AF3422;}
a.on			{text-decoration: none; color: black; background-color: #AF3422;}
a:hover 		{text-decoration: underline;}	
.left 			{float: left;}
.right 			{float: right;}

li				{list-style-type: none;}
#bg				{background: url(/images/arms4.gif) no-repeat top right; min-height: 700px; }
#wrapper 		{width: 840px; margin: 0px auto; padding: 0px; }
#wrapper2 		{width: 640px; margin: 0px auto; padding: 0px;}
#memories li	{padding: 4px 0;}

.top a 			{padding: 5px; float: left; border-right: 1px solid #ccc; margin: 25px 4px 0 0; padding: 5px 10px;}
.top			{font-size: 14px; padding: 20px 10px 10px 10px; margin: 0 0 0px 0;}
.top a.no_way 	{padding: 0 0 0 0; background: none; margin: 0 10px 0 0; }
.top a:hover	{background: #e7e7e7; }


input, textarea	{background: #EBEBDB; border: none; padding: 3px; }
input:focus, 
textarea:focus	{background: #B9C0AB;}
input.button	{background: #333; padding: 4px; color: #f4f3e8;}

label			{display: block; font-size: 14px;}
textarea		{width: 99%;}
h1 				{font-size: 18px; margin: 30px 0 5px 0; padding: 0 0 0 0;}
h2				{font-size: 14px;color: #666;}
form div		{padding: 5px 0;}

.smallest, 
.small		{border: 1px solid #ccc; margin-right: 7px; float: left;}

.search_side	{color: #333; width: 250px; padding: 20px; background: white; margin-top: 58px; opacity:.80;filter: alpha(opacity=80); -moz-opacity: 0.8;}
.search_side input	{font-size: 13px; padding: 3px;}
.search_side input:focus	{background: white;}

.search_top_filter	{padding: 30px 0 0 0;}
.search_bottom_filter {padding: 10px 0 15px 0;}
.search_bottom_filter a, 
.search_top_filter a {padding: 4px; margin: 0 0 0 0;}
.search_bottom_filter a.on, 
.search_top_filter a.on {background: #ccc;}

#create			{padding: 10px 0 10px 0;}
#create	a		{font-size: 16px;}


.blurp 			{background: #EBEBDB; padding: 10px; margin: 8px 0 8px 0;}

.notice {
	color: #333;
	background:#fff9d7;
	border: 1px solid #e2c822;
}


.error {
	color: #333;
	background:#ffebe8;
	border: 1px solid #dd3c10;
}
.search_side h2	{padding: 15px 0 10px 0; font-size: 15px; margin: 0 0 0 0; color: #333;}
.search_side h3	{padding: 0 0 10px 0; font-size: 15px; margin: 15px 0 0 0; color: #333;}


#big_buttons a	{padding: 8px; background: #333; color: white; font-size: 14px;}
#big_buttons	{text-align: center; padding: 20px 0;}

#footer			{text-align: center; font-size: #666; font-size: 10px; margin: 40px 0 0 0;}

.front_column_l {text-align: center; width: 40%; margin: 19px 35px 0 0; font-size: 14px;}
.front_column_r	{width: 50%; padding: 43px 0 0 15px;  }

form 			{padding: 15px; margin-right: 10px;}
.search_side li {list-style: none; padding: 5px 0;}
.content 		{padding: 5px 0; margin: 10px 0;}
.content,
.search_side li {}
form,
.search_side	{border: 2px dashed #e7e7e7; }
#search_box		{background: #dea9a8; padding: 10px;}

.box	{padding: 10px; border: 2px dashed #e7e7e7; margin: 25px 0;}
.box h2	{margin: 5px 0 10px 0;}

#message				{padding: 4px; z-index: 100000; position: fixed; top: 38%; left: 40%; display: none; background: black; color: white; font-size: 18px;}
#waiter 				{z-index:100000; position:fixed; background:white; display: none; height:13px; width:208px; border:0px; top: 50%; left: 50%; margin: -6px 0 0 -104px;}

.cap 			{text-transform: capitalize;}









